<log4net>
	<root>
		<level value="ALL" />
		<appender-ref ref="file" />
	</root>

	<!-- File Appender -->
	<appender name="file" type="log4net.Appender.RollingFileAppender">
		<file value="Logs\\Amgine.log" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<maxSizeRollBackups value="2" />
		<maximumFileSize value="25MB" />
		<staticLogFileName value="false" />
		<preserveLogFileNameExtension value="true" />
		<datePattern value="_dd.MM.yyyy-HHmmss" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level %logger – %message%newline" />
		</layout>
	</appender>
</log4net>